{
    BasedOnStyle: LLVM,
    UseTab: Never,
    IndentWidth: 4,
    TabWidth: 4,
    BreakBeforeBraces: Attach,
    AllowShortIfStatementsOnASingleLine: true,
    IndentCaseLabels: false,
    ColumnLimit: 80,
    AccessModifierOffset: -4,
    NamespaceIndentation: All,
    FixNamespaceComments: false,
    SortIncludes: Never,
    AlignArrayOfStructures: Right,
    QualifierAlignment: Left,
    PointerAlignment: Left,
    BinPackParameters: true,
    BinPackArguments: true,
    AlignAfterOpenBracket: Align,
    PenaltyReturnTypeOnItsOwnLine: 666,
    AlwaysBreakTemplateDeclarations: true,
    IndentRequiresClause: false,
}
